
.container{
    position: relative;
}.background_image img{
    height: 190px;
    width: 100%;
}
.home_content{
    
    display: flex;
    position: absolute;
    top: 75px;
    left: 150px;
    gap: 0.6rem;
}
.heading{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}