.yellow_background_image {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
    /* padding-top: 100px ; */
  background: url('./pics/yellow.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 100px;
}
.team{

    font-size: 32px;
    font-weight: 700;
    margin-right: 90px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bootom_heading{
    font-size: 13px;
    padding-top: 5px;
    text-align: center;
}
.flex{
    display: flex;
}
.main_container {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    margin: 70px 0px;
}
.main_container img{
    height: 230px;
    width: 250px;

}
.socail{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text_title{
    text-align: center;
    margin-top: 12px;
    font-size: 20px;
    font-weight: 700;
    
}
.icons{
    display: flex;
    gap: 1rem;
}
.founder{
    font-size: 13px;
    font-weight: 300;
}
.icon{
    font-size: 20px;
}
.para{
    max-width: 70%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}